body {
  margin: 0;
  padding: 0;
}
.banner {
  width: 100vw;
  height: 70vh;
  object-fit: cover;
}

#carousel {
  display: flex;
  justify-content: center;
  align-items: center;
 margin-top: -130px;
}

#imageOne, #imageTwo, #imageThree {
  height: 300px;
  width: 300px;
  object-fit: cover;
  margin: 25px;
}

