
body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* .body-div{
  max-height: 90vh;
} */

.banner {
  width: 100vw;
  height: 60vh;
  object-fit: cover;
}

#carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -130px;
}

#imageOne,
#imageTwo,
#imageThree {
  height: 300px;
  width: 300px;
  object-fit: cover;
  margin: 25px;
}

.ads-div{
  width: 100vw;
  display: flex;
  justify-content: space-between
}

.ad-left, .ad-right {
  margin: 0% 2%;
  margin-top: -100px;
  margin-bottom: 2%;
  max-height: 200px;
  max-width: 300px;
}

@Media only screen and (max-width: 1250px) {
  .ads-div {
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
  }
  .ad-left, .ad-right {
    margin-top: 0px;
  }
}


@Media only screen and (max-width: 1100px) {
  .hide-when-small {
    display: none !important;
  }
}



@Media only screen and (max-width: 750px) {
  .hide-when-tiny {
    display: none !important;
  }

  .banner {
    width: 100vw;
    height: 45vh;
  }

  #carousel {
    margin-top: -100px;
  }

}

@Media only screen and (max-width: 550px) {
  #imageOne,
  #imageTwo,
  #imageThree {
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin: 25px;
  }
}